#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin: 1em 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}

.local-card {
  background-color: #d1ecfc;
  /* Light Blue */
}

.context-card {
  background-color: #d1fcdc;
  /* Light Green */
}

.redux-card {
  background-color: #fce4d1;
  /* Light Orange */
}

.button-group button {
  margin: 0 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-group button:hover {
  border-color: #646cff;
}